<?xml version="1.0" encoding="UTF-8"?>
<!-- @copyright Copyright (c) 2009 AITOC, Inc. -->
<config>
    <modules>
        <Aitoc_Aitholiday>
            <version>0.2.3</version>
        </Aitoc_Aitholiday>
    </modules>
    <global>
        <models>
            <aitholiday>
                <class>Aitoc_Aitholiday_Model</class>
                <resourceModel>aitholiday_mysql4</resourceModel>
            </aitholiday>
            <aitholiday_mysql4>
                <class>Aitoc_Aitholiday_Model_Mysql4</class>
                <entities>
                    <page><table>aitholiday_page</table></page>
                    <scope><table>aitholiday_scope</table></scope>
                    <item><table>aitholiday_item</table></item>
                    <scope_page><table>aitholiday_scope_page</table></scope_page>
                </entities>
            </aitholiday_mysql4>
        </models>
        <helpers>
            <aitholiday>
                <class>Aitoc_Aitholiday_Helper</class>
            </aitholiday>
        </helpers>
        <blocks>
            <aitholiday>
                <class>Aitoc_Aitholiday_Block</class>
            </aitholiday>
        </blocks>
        <resources>
            <aitholiday_setup>
                <setup>
                    <module>Aitoc_Aitholiday</module>
                    <class>Aitoc_Aitholiday_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitholiday_setup>
            <aitholiday_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitholiday_write>
            <aitholiday_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitholiday_read>
        </resources>
    </global>
    <admin>
        <routers>
            <aitholidayadmin>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitholiday</module>
                    <frontName>aitholidayadmin</frontName>
                </args>
            </aitholidayadmin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <tools>
                        <children>
                            <aitholiday translate="title" module="aitholiday">
                                <title>Xmas Set</title>
                                <action>aitholidayadmin/manage</action>
                            </aitholiday>
                        </children>
                    </tools>
                </children>
            </system>
        </menu>
        <events>
            <controller_action_predispatch>
                <observers>
                    <aitoc_notification>
                        <type>singleton</type>
                        <class>aitholiday/notification_observer</class>
                        <method>performPreDispatch</method>
                    </aitoc_notification>
                </observers>
            </controller_action_predispatch>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <aitholiday translate="title">
                            <title>Holiday wrapper</title>
                        </aitholiday>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <frontend>
        <routers>
            <aitholiday>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitholiday</module>
                    <frontName>aitholiday</frontName>
                </args>
            </aitholiday>
        </routers>
        <layout>
            <updates>
                <aitholiday>
                    <file>aitholiday.xml</file>
                </aitholiday>
            </updates>
        </layout>
    </frontend>
</config>